/* color red */
.Scroll-to-top:hover {
    color: rgb(7, 255, 160);
  }

  .navbar-light .navbar-brand span {
    color:rgb(7, 255, 160);
 
  }

  .navbar-light .navbar-nav .active  {
    background: rgb(7, 255, 160);
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    background: rgb(7, 255, 160);
  }
  .navbar-light .navbar-nav .nav-link:active,
  .navbar-light .navbar-nav .nav-link:focus {
    background: rgb(7, 255, 160);
  }

  .navbar-light .navbar-toggler {
    color: rgb(7, 255, 160);
    border:2px solid rgb(7, 255, 160);
   
  }

  .carousel .control-next-icon:hover {

    color:rgb(7, 255, 160);
  }
  .carousel .btn-danger {
    background-color: rgb(7, 255, 160);
    border-color: rgb(7, 255, 160);
  }

  .carousel i:hover{
    color: rgb(7, 255, 160);
  }
  
  .carousel .btn-danger:hover {
    color: rgb(7, 255, 160);
    border:2px solid  rgb(7, 255, 160);
  }

  .About .box-About  span{
    clear:rgb(7, 255, 160);
  }
  .About .row  div:hover i {

    border: 2px solid  rgb(7, 255, 160);
  }

  .Testimonials  p{
    color: rgb(7, 255, 160);
  }
  .subscribe-box i{
    color: rgb(7, 255, 160);
   
  
  }

  .subscribe-box .form-control:focus {
  
    border: 2px solid rgb(7, 255, 160);
    }
    .input-group input{
    
      border: rgb(7, 255, 160);
    }
    .subscribe-box .btn {
    background: rgb(7, 255, 160);
   
    }

    .contact-us i{
        color: rgb(7, 255, 160);
       
      }
      .option-box i{
        color: rgb(7, 255, 160);
        
      }
      
